<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapping Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
</head>
<body>


<h1 style="margin-top: 0">Mapping Table</h1>

<div class="container">
    <p>Provides a rich and versatile mapping table data element.</p><br/>

    Supports eight different methods:
    <ul>
        <li>Regular Expression (with and without matching)</li>
        <li>Exact matches</li>
        <li>Case insensitive matches</li>
        <li>Starts with</li>
        <li>Contains</li>
        <li>Is True</li>
        <li>Is False</li>
    </ul>

    <p>
        Further the output can be static or another data element to offer even more flexibility.<br/>
        E.g. ideal for implementing multiple marketing pixels.<br/><br/>

        Support of Drag-and-Drop for re-ordering the entries.<br/>
        JSON & CSV import and export supported directly from within the data element.<br/><br/>

        If you are using the regex with matching, you can use the results of your matching groups in the output with the
        common syntax of <i>$1, $2</i>, etc.<br/>
        You cannot use the matching <i>$1</i>, etc. within a data element name in the output.
        e.g. <i>%my element $1%</i> is not supported and will throw an error upon saving the mapping table data element.<br/><br/>
    </p>

    <h2>Basic Usage</h2>
    <p>Select a <b>Data Element</b> to be searched for matches - this can either be a single value such as <i>%pageName%</i> or an array, like <i>%productsInCart%</i>.</p>

    <p>When an array is given, each element of the array will be searched, and a corresponding mapping given, resulting in an output which is an array, of the same length as the input array.</p>

    <p>Click the <b>+</b> sign to add a mapping row. Order matters - higher rows will be considered first and the search for a match will end with the first successful match. You can drag and drop rows to change the order.</p>

    <p>Within each row choose:</p>
    <ul>
        <li>A <b>Method</b> - possible methods are mentioned above</li>
        <li>An <b>Input</b> - this is what you are looking to match within the Data Element.</li>
        <li>An <b>Output</b> - this is what you want to transform the Input into</li>
    </ul>

    <p>E.g. if the Method is "Contains", the Input is "meaning of life", the Output is "42", and the Data Element is "what is the answer to the meaning of life?" then the output will be "42"</p>

    <p>Check the <b>Default Value</b> at the top if you want to pass through the original value in the case that no match has been found. If unselected and no match is found, the output value will be <i>undefined</i>.</p>

    <p>
        A detailed walk through of some use cases can be found in the <a
            href="https://github.com/B3n3/Adobe-Launch-Mapping-Table/raw/master/doc/mapping-table-tutorial.pdf"
            target="_blank">Tutorial PDF</a>.
    </p>
    <hr>
    <p>
        Please refer to the
        <a href="https://github.com/B3n3/Adobe-Launch-Mapping-Table/blob/master/ReleaseNotes.md" target="_blank">
            Release Notes</a> for an overview of what has changed in the respective version.
    </p>

</div>


<script>
    window.extensionBridge.register({
        init: function () {
        },

        getSettings: function () {
            return {};
        },

        validate: function () {
            return true;
        }
    });
</script>
</body>
</html>