<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapping Table Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
</head>
<body>


<!-------------------------------Section------------------------------->
<h2>Set your source data element and define the corresponding mapping table:</h2>

<div class="container">

    <p><i>Note that the table will be evaluated top-down.<br/>
        Use drag-and-drop to reorder the entries.</i></p>

    <b>Default Value:</b>
    <input type="checkbox" id="defaultValueEmpty" name="defaultValueEmpty" checked>
    <label for="defaultValueEmpty"><br/>
        Checked: Data element default value<br/>
        Unchecked: Value of the provided data element</label>
    <br/><br/>
    <label for="dataElement"><strong>Data Element: </strong></label>
    <input type="text" id="dataElement" name="dataElement" placeholder="%Page URL%" style="width: 80%">
    <button id="dataElementBtn" class="spectrum-ActionButton spectrum-ActionButton--quiet">
        <svg viewBox="0 0 36 36" focusable="false" aria-hidden="true" role="img"
             class="spectrum-Icon spectrum-Icon--sizeS">
            <ellipse cx="18" cy="7" rx="16" ry="5"></ellipse>
            <path d="M18 24.275c-4.936 0-14.212-1.169-16-4V29c0 2.761 7.163 5 16 5s16-2.239 16-5v-8.73c-2.447 3.095-11.064 4.005-16 4.005z"></path>
            <path d="M18 14.275c-4.936 0-14.212-1.169-16-4V17c0 2.761 7.163 5 16 5s16-2.239 16-5v-6.73c-2.447 3.095-11.064 4.005-16 4.005z"></path>
        </svg>
    </button>
    <br/><br/>
    <table id="mappingTable">
        <tr>
            <th align="left" width="20%">Method</th>
            <th align="left">Input</th>
            <th align="left">Output</th>
            <th align="left"></th>
        </tr>
    </table>
    <div id="plusContainer"><input type="button" id="plusButton" onclick="createRow()" value="&#43;"/></div>
</div>

<script src="mappingTable.js"></script>


</body>
</html>
